.footer {
	display: grid;
	grid-template-columns: 1fr auto;
	background: var(--white);
	padding: 20px 34px;

	box-shadow: 1px 3px 0px rgb(54 74 99 / 5%);
	border-top: 1px solid #e5e9f2;
}

.links {
	display: grid;
	gap: 30px;
	grid-template-columns: auto auto auto;
}

.data {
	color: var(--gray-light);
	font-size: 14px;
}

.footer a {
	color: var(--primary-light);
	font-size: 13px;
	line-height: 1.65;
	font-weight: 400;
}

.footer a:hover {
	color: #7a3fff;
}

@media screen and (max-width: 500px) {
	.footer {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}