.dashboard {
	display: grid;
	grid-template-columns: auto;
}

.dashboard svg {
	width: 27px;
	height: auto;
	fill: var(--gray-light);
	align-items: center;
	justify-content: center;
}

.menuItemOuter {
	padding: 4px 12px;
}

.menuItemInner {
	font-size: 15px;
	color: var(--gray);
	font-weight: 700;
	line-height: 1.25rem;
	display: grid;
	grid-template-columns: 28px 1fr;
	gap: 12px;

	border-radius: 6px;
	padding: 10px 28px 10px 12px;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}



.activeMenuItemInner,
.menuItemInner:hover {
	background: var(--gray-dark);
	color: var(--primary);
}

.activeMenuItemInner svg,
.menuItemInner:hover svg {
	fill: var(--primary)
}

.title {
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 23.1px;
	color: var(--gray-light);
	padding: 40px 24px 8px;
}

.secondLevelMenu {
	padding: 6px 40px 6px 48px;
	display: grid;
	transition: all 0.3s;

	font-weight: 400;
	font-size: 14px;
	letter-spacing: normal;
	text-transform: none;
	line-height: 1.25rem;
	color: #6e82a5;
}

.secondLevelActive,
.secondLevelMenu:hover {
	color: var(--primary);
}

.secondLevelActive svg,
.secondLevelMenu:hover svg {
	fill: var(--primary);
}


.isNew {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.firstLevelBlock {
	display: none;
}

.firstLevelBlockOpened {
	display: block;
}