.menuItem {
	font-size: 15px;
	color: var(--gray);
	font-weight: 700;
	line-height: 1.25rem;



	border-radius: 6px;
	padding: 10px 6px 10px 12px;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}

.menuItem em {
	color: var(--gray-light);
	font-size: 24px;
	animation: 0.3s;
	letter-spacing: normal;
	vertical-align: middle;
	transition: color .4s, background-color .4s;
}

.isNoArrow {
	display: grid;
	grid-template-columns: 28px 1fr;
	gap: 12px;
}

.isArrow {
	display: grid;
	grid-template-columns: 28px 1fr auto;
	gap: 12px;
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
}

.arrow svg {
	width: 18px;
	height: auto;
}

.activeMenuItem,
.menuItem:hover {
	background: var(--gray-dark);
	color: var(--primary);
}

.activeMenuItem em,
.menuItem:hover em {
	color: var(--primary)
}