.dashboard {
	display: grid;
	grid-template-columns: auto;
	gap: 5px;
}

.dashboard svg {
	width: 28px;
	height: auto;
	fill: var(--gray-light);
}

.menuItemOuter {
	padding: 4px 12px;
}

.menuItemInner {
	font-size: 15px;
	color: var(--gray);
	font-weight: 700;
	line-height: 1.25rem;
	display: grid;
	grid-template-columns: 28px 1fr;
	gap: 12px;

	border-radius: 6px;
	padding: 10px 28px 10px 12px;
	align-items: center;
}

.title {
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 23.1px;
	color: var(--gray-light);
	padding: 40px 24px 8px;
}